# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.manifest
*.spec

# Virtual environments
venv/
.env/
.venv/
env/

# ---- Jupyter Notebook ----
.ipynb_checkpoints/

# ---- OS / Editor ----
.DS_Store
Thumbs.db
*.swp
*.swo

# ---- VS Code ----
.vscode/
.history/
*.code-workspace

# ---- JetBrains IDE ----
.idea/

# Ignore all JPGs except rula.jpg
*.jpg
!rula.jpg

# Ignore other common image formats
*.jpeg
*.png
*.gif

# Ignore output folders
/output/
image/output/

# ---- Logs ----
*.log
logs/

# ---- Exceptions ----
# Keep assets folder (images used as templates, etc.)
